<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/logo-gamemania.png" alt="GameMania" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lançamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Consoles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Computador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acessórios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comunidade</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Minha conta
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Meu carrinho</a></li>
              <li><a class="dropdown-item" href="#">Meus pedidos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Acessar conta</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
<!-- 
<div class="header">
    <div class="menu">
        <a href="index.html"><img src="assets/img/logo-gamemania.png" alt="GameMania" class="logo"></a>

        <div class="form-pesquisa d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="w-100">
                <form action="">
                    <input class="form-control" type="search" placeholder="Busque aqui seu produto..."
                        aria-label="default input example">
                </form>
            </div>
        </div>


        <div>
            <a href=""><img src="assets/img/shopping-cart.png" width="30px" class="image-space icon-menu"></a>
            <a href=""><img src="assets/img/sign-in-alt.png" width="30px" class="icon-menu"></a>
            <a href=""><img class="icon-search" src="assets/img/search.png" width="30px"></a>
            <a href=""><img id="barras" class="barras" src="assets/img/menu.png" alt="Menu de barras"></a>
        </div>
    </div>

    <div class="header-2 posicionamento-header">
        <nav class="container-grid menu-2" id="menu">
            <a href="">Lançamentos</a>
            <a href="">Consoles</a>
            <a href="">Computador</a>
            <a href="">Games</a>
            <a href="">Acessórios</a>
            <a href="">Comunidade</a>
        </nav>
    </div>
</div> -->

