<div class="mobile-setting">
    <div class="row align-items-start">
        <div class="col mobile-middle">
            <h4>GameMania</h4>
            <a href="">
                <p>Quem somos</p>
            </a>
            <a href="">
                <p>Trabalhe conosco</p>
            </a>
        </div>
        <div class="col mobile-hide">
            <h4>Minha conta</h4>
            <a href="">
                <p>Meus pedidos</p>
            </a>
            <a href="">
                <p>Meu cadastro</p>
            </a>
            <a href="">
                <p>Meu carrinho</p>
            </a>
        </div>
        <div class="col mobile-hide">
            <h4>Categorias</h4>
            <a href="">
                <p>Lançamentos</p>
            </a>
            <a href="">
                <p>Consoles</p>
            </a>
            <a href="">
                <p>Computador</p>
            </a>
            <a href="">
                <p>Games</p>
            </a>
            <a href="">
                <p>Acessórios</p>
            </a>
            <a href="">
                <p>Comunidade</p>
            </a>
        </div>
        <div class="col mobile-bottom">
            <h4><a href="">Termos e condições</a></h4>
            <h4><a href="">Política de privacidade</a></h4>
        </div>
        <div class="col mobile-top">
            <a href=""><img src="assets/img/instagram.png"></a>
            <a href=""><img src="assets/img/youtube.png"></a>
            <a href=""><img src="assets/img/facebook.png"></a>
        </div>
    </div>
</div>