*{
    background-color: #00A7E1;
}

.mobile-setting{
    padding: 30px 50px 0px 50px;
}

p{
    margin: 0 0 0 0;
}

h4{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

a{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

img{
    height: 40px;
}

@media screen and (max-width: 768px) {
    .banner{
        height: 300px;
    }

    .secao-pagamento div{
        width: 100%;
    }

    .mobile-hide{
        display: none;
    }

    .mobile-setting{
        height: 230px;
        position: relative;
    }

    .mobile-bottom{
        position: absolute;
        bottom: 0px;
    }

    .mobile-middle{
        position: absolute;
        top: 50px;
    }

    .mobile-top{
        position: absolute;
        text-align: center;
        top: 0px;
    }
    
    .menu-ativo{
        display: flex;
    }

}